root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{cs,csx}]
indent_size = 4

# Estilo C#: preferencias que el compilador avisa como sugerencia
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_prefer_braces = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[*.{sln,csproj,props,targets}]
indent_size = 2
